@model JucarAutopartesAplicacionWeb.Models.Products.Movement

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawMaterial.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovementType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovementType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MovementID">Ir a Editar</a> |
    <a asp-action="Index">Regresar al Inicio</a>
</div>
