@model IEnumerable<JucarAutopartesAplicacionWeb.Models.Products.Autopart>

@{
    ViewData["Title"] = "Listado de Autopartes";
}

<h1>Autopartes</h1>

<p>
    <a asp-action="Create" class="text-decoration-none" >Nueva Autoparte</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeightKgs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeightCm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthCm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleZone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeightKgs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeightCm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LengthCm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleZone)
                </td>
                <td>
                    @if (item.State)
                    {
                        <text>Activo/a</text>
                    }
                    else
                    {
                        <text>Inactivo/a</text>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AutopartID" class="text-decoration-none" >Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.AutopartID" class="text-decoration-none" >Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.AutopartID" class="text-decoration-none" >Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
